@charset "utf-8";





/* ↓ jquery.flickslide 調整
--------------------------- */
#flick-slide .jquery_flick-slide_main li {
	margin: 0 50px;
}
#flick-slide .jquery_flick-slide_main li img {
	width: 100%;
	max-width: 720px;
	max-height: 405px;
}

#flick-slide .jquery_flick-slide_pager li {
	margin: 0 15px;
}
#flick-slide .jquery_flick-slide_pager li img {
	width: 100%;
	max-width: 720px;
	max-height: 405px;
}