/*
smartmenu.css
Version 1.0 (Update 2012/06/27)

Copyright (c) 2012 7me (http://7me.oji.0j0.jp)

Released under an MIT-style license.

For details, see the web site:
 http://7me.oji.0j0.jp/index.php/diary/show/t/20120626

*/
#smartmenu{
	clear:both !important;
	z-index: 99;
	width: 100%;
	left: 0;
	bottom: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: fixed;
	background-color:#f5f5f5;
	color: #424242;
}

#smartmenu a {
	padding-top: 25px;
	text-decoration: none;
	display:block;width:100%;height:100%;
}

#smartmenu table {
	width: 100%;
	margin-bottom: 2px;
}

#smartmenu td {
	height: 60px;
	font-size: 10px;
	border: 1px solid #ccc;
	align: center;
	valign: middle;
	text-align: center;
	padding: 1;
}

#smartclose{
	clear:both !important;
	z-index: 99;
	width: 100%;
	height: 25px;
	background-color:#555555;
}